@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-image: url(../images/wp2817045\ копія.jpeg); }

.info__projects__amba__img__1__img {
  width: 300px;
  height: 120px; }

.img__button__1__1 {
  width: 50px; }

.img__button__1__1:hover {
  opacity: 0.8;
  background-color: #FF4500;
  padding: 5px;
  border-radius: 20px; }

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px; }

.main__info {
  width: 1300px;
  height: 800px;
  background-color: #212121;
  padding: 0 100px;
  border-radius: 15px;
  margin-left: 150px; }

.img__button {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 330px;
  width: 140px;
  background-color: #212121;
  padding: 20px 40px;
  margin-top: 100px; }

.main__nav {
  background-color: #212121;
  height: 530px;
  width: 120px;
  border-radius: 15px; }

.info__title {
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 40px; }

.info__title__1 {
  color: #FF4500; }

.info__projects__amba__img {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.info__projects__amba__title {
  color: #FF4500;
  font-size: 40px;
  font-weight: 600;
  opacity: 0.9; }

.info__projects__amba {
  padding-bottom: 60px; }

.info__projects__test {
  padding-bottom: 60px; }

.info__projects__main {
  padding-bottom: 60px; }

.info__projects__amba__img__1__img {
  border: 3px solid black;
  padding: 20px;
  border-radius: 20px; }

.info__projects__amba__img__1__img:hover {
  opacity: 0.7; }

@media (max-width: 400px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

  body {
    background-image: url(../images/wp2817045\ копія.jpeg); }

  .info__projects__amba__img__1__img {
    width: 100px;
    height: 80px; }

  .img__button__1__1 {
    width: 50px; }

  .img__button__1__1:hover {
    opacity: 0.8;
    background-color: #FF4500;
    padding: 5px;
    border-radius: 20px; }

  main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; }

  .main__info {
    width: 360px;
    height: 500px;
    background-color: #212121;
    padding: 0 20px;
    border-radius: 15px;
    text-align: left;
    margin-left: 40px; }

  .img__button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
    width: 360px;
    background-color: #212121;
    padding: 20px 40px;
    margin-top: 40px;
    border-radius: 15px; }

  .main__nav {
    background-color: #21212100;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    padding-right: 320px; }

  .info__title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 40px; }

  .info__title__1 {
    color: #FF4500; }

  .info__projects__amba__img {
    display: flex;
    justify-content: space-between;
    align-items: center; }

  .info__projects__amba__title {
    color: #FF4500;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.9; }

  .info__projects__amba {
    padding-bottom: 30px; }

  .info__projects__test {
    padding-bottom: 30px; }

  .info__projects__main {
    padding-bottom: 30px; }

  .info__projects__amba__img__1__img {
    border: 3px solid black;
    padding: 10px;
    border-radius: 20px; }

  .info__projects__amba__img__1__img:hover {
    opacity: 0.7; } }

/*# sourceMappingURL=style.css.map */
